<nav class="pull-right">
    <ul id="main-menu">
        <li><a {if $active_item == 'services'}class="active"{/if} href="/">{$services}</a></li>
        <li><a {if $active_item == 'goods'}class="active"{/if} href="/goods">{$goods}</a></li>
    </ul>
</nav>