html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
}

#all {
    display: inline-block;
    width: 100%;
    min-width: 100%;
    position: relative;
}