html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#body {
    background: #262626;
    font: 14px/21px Arial, Verdana;
    color: #ffffff;
}

#header {
    display: block;
    border-top: 3px solid #f48372;
    padding-top: 80px;
    color: #eee;
}

#describe {
    margin: 15px 0;
    padding: 30px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

#logo {
    font-size: 2em;
    font-weight: bold;
}

#body #main_content {
    padding-bottom: 20px;
}

#all {
    position: relative;
    min-height: 99%;
    display: inline-block;
    width: 100%;
}

#body #footer {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
}

#body #footer #footer-content {
    border-top: 1px solid #eee;
}

#main-menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-block;
}

#main-menu li {
    display: inline-block;
    margin-right: 10px;
}

#main-menu li a:hover,
#main-menu li a {
    text-decoration: none;
    font-size: 12pt;
}

#main-menu li a {
    color: #f48372;
}

#main-menu li a.active {
    color: #555555;
}

#main-menu li a:not(.active):hover {
    color: #ffffff;
}

#performers {
    padding: 40px 0;
}

.performer {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.performer,
.performer .preview,
.performer .performer-images,
.performer .category {
    width: 100%;
}

.performer-images img {
    width: 100%;
    display: block;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.performer .category {
    position: absolute;
    bottom: 40px;
    padding: 15px 0;
    background: #6e6e6e;
    text-indent: 25px;
    z-index: 100;
    cursor: pointer;
}

.performer-images {
    position: relative;
    width: 410px;
    width: 30vw;
    height: 230px;
    height: 35vh;
    margin: 0;
}

.performer-images ul {
    padding: 0;
}

.performer-images li {
    list-style: none;
}

.performer-images ul li {
    float: left;
}

.performer .category::first-letter {
    text-transform: uppercase;
}

.performer-info {
    margin-top: 10px;
}

.performer-info p {
    border-bottom: 1px solid #eeeeee;
}

.performer-info .cursor-pointer:hover {
    color: #ddd;
}

.display-block {
    display: block;
}


.display-inline-block {
    display: inline-block;
}

.hide {
    display: none;
}

.border-radius-none {
    border-radius: 0 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.margin-top-10px {
    margin-top: 10px;
}

.margin-bottom-10px {
    margin-bottom: 10px;
}

.margin-bottom-20px {
    margin-bottom: 20px;
}

.padding-0 {
    padding: 0 !important;
}

.padding-right-5px {
    padding-right: 5px;
}

.opacity-0 {
    opacity: 0;
}

.text-bold {
    font-weight: bold;
}