<form id="add-performer-form">
    <ul id="tabs" class="nav nav-tabs">
        <li class="active"><a class="cursor-pointer" data-param="data">{$data}</a></li>
        <li><a class="cursor-pointer" data-param="photo">{$photos}</a></li>
    </ul>
    <div id="tabs-data">
        <div id="data">
            <div class="row">
                <div class="col-lg-5">
                    <div class="form-group">
                        <label for="name">{$name}</label>
                        <input id="name" name="name" class="form-control" type="text"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="form-group">
                        <label for="phone">{$phone}</label>
                        <input class="form-control" id="phone" name="phone" type="text"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="form-group">
                        <label for="category">{$category}</label>
                        <select name="category" id="category" class="form-control">
                            {foreach $categories as $k=>$el}
                            <option value="{$el['id']}">{$el['name']}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="form-group">
                        <label for="about">{$about}</label>
                        <textarea class="form-control" id="about" name="about"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div id="photo" class="hide margin-top-10px margin-bottom-10px">
            <div class="row">
                <div class="col-lg-4 padding-right-5px">
                    <input name="photos" readonly class="form-control" id="photos-names" type="text"/>
                </div>
                <div class="col-lg-4 padding-0">
                    <button class="btn btn-primary" id="select-photo">{$select_photo}</button>
                </div>
                <input name="images" type="file" multiple class="opacity-0"/>
            </div>
            <div class="row">
                <div id="thumbnails">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="{$add}"/>
                <button id="cancel" class="btn btn-info">{$cancel}</button>
            </div>
        </div>
    </div>
</form>
