<form id="add-category-form" class="form-inline" action="">
    <div class="form-group">
        <label for="name">{$name}</label>
        <input id="name" class="form-control" name="name" type="text"/>
    </div>
    <div class="form-group">
        <input class="btn btn-success" value="{$add}" type="submit"/>
        <button class="btn btn-info">{$cancel}</button>
    </div>
</form>