<table id="categories-table" class="table table-striped">
    <thead>
    <th>{$name}</th>
    <th></th>
    <th></th>
    </thead>
    <tbody>
        {foreach $categories as $category}
        <tr>
            <td>{$category['name']}</td>
            <td width="30"><a href="/admin_panel/edit_category/{$category['id']}">{$edit}</a></td>
            <td width="30">
                <a data-param="{$category['id']}" class="cursor-pointer delete-category">
                    {$delete}
                </a>
            </td>
        </tr>
        {/foreach}
    </tbody>
</table>
<a class="btn btn-primary" href="/admin_panel/add_category">{$add}</a>