<form id="edit-category-form" class="form-inline" action="">
    <input type="hidden" name="id" value="{$category['id']}"/>
    <input type="hidden" name="old-name" value="{$category['name']}"/>
    <div class="form-group">
        <label for="name">{$name}</label>
        <input value="{$category['name']}" id="name" class="form-control" name="name" type="text"/>
    </div>
    <div class="form-group">
        <input class="btn btn-success" value="{$save}" type="submit"/>
        <button class="btn btn-info">{$cancel}</button>
    </div>
</form>