<ul id="left-menu" class="nav nav-pills nav-stacked">
    <li {if $url == '/admin_panel'}class="active"{/if}>
        <a href="/admin_panel">{$users}</a>
    </li>
    <li {if $url == '/admin_panel/performers'}class="active"{/if}>
        <a href="/admin_panel/performers">{$performers}</a>
    </li>
    <li {if $url == '/admin_panel/categories'}class="active"{/if}>
        <a href="/admin_panel/categories">{$categories}</a>
    </li>
</ul>