<form class="login-form" id="login-form">
    <h1>
        <span class="log-in">{$log_in}</span>
    </h1>
    <p class="float">
        <label for="login"><i class="glyphicon glyphicon-user"></i>{$login}</label>
        <input type="text" name="login" placeholder="{$login}">
    </p>
    <p class="float">
        <label for="password"><i class="glyphicon glyphicon-lock"></i>{$password}</label>
        <input type="password" name="password" placeholder="{$password}">
        <input class="hide" name="remember" checked="checked" type="checkbox"/>
    </p>
    <p class="clearfix">
        <input type="submit" name="submit" value="{$log_in}">
    </p>
</form>​​