<table id="performers-table" class="table table-striped">
    <thead>
    <th>{$name}</th>
    <th>{$phone}</th>
    <th>{$category}</th>
    <th></th>
    <th></th>
    </thead>
    <tbody>
        {foreach $performers as $performer}
        <tr>
            <td>{$performer['name']}</td>
            <td>{$performer['phone']}</td>
            <td>{$performer['category']}</td>
            <td width="30"><a href="/admin_panel/edit_performer/{$performer['id']}">{$edit}</a></td>
            <td width="30">
                <a data-param="{$performer['id']}" class="cursor-pointer delete-performer">
                    {$delete}
                </a>
            </td>
        </tr>
        {/foreach}
    </tbody>
</table>
<a class="btn btn-primary" href="/admin_panel/add_performer">{$add}</a>