<table class="table table-striped">
    <thead>
        <tr>
            <th>{$login}</th>
            <th>{$password}</th>
            <th>{$credentials}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {foreach $users as $user}
            <tr>
                <td>{$user['login']}</td>
                <td>{$user['password']}</td>
                <td>{$credentials_labels[$user['credentials']]}</td>
                <td width="30">
                    {if $user['id'] == $my_id || $is_super_admin}
                        <a href="/admin_panel/edit_user/{$user['id']}">{$edit}</a>
                    {/if}
                </td>
            </tr>
        {/foreach}
    </tbody>
</table>
<a class="btn btn-primary" href="/admin_panel/add_user">{$add_user}</a>