<div id="performers" class="row">
    {foreach $performers as $performer}
        <div class="col-lg-6 col-xs-10 col-sm-6 col-md-6 margin-bottom-20px">
            <div class="performer">
                <div class="preview">
                    <div class="performer-images swiper-container">
                        <div class="swiper-wrapper">
                            {foreach $performer['images'] as $image}
                                <div class="swiper-slide">
                                    <img src="{$image}" alt=""/>
                                </div>
                            {/foreach}
                        </div>
                    </div>
                    <div class="category">{$performer['category']}</div>
                </div>
                <div class="performer-info hide">
                    <p class="text-right">
                        <span class="slides-active-index">1</span>
                        {$of}
                        {$performer['images']|@count}
                    </p>
                    <p class="text-bold text-center">
                        <span class="pull-left cursor-pointer open-slideshow">{$view_full_size}</span>
                        <span>
                            <span class="cursor-pointer prev-slide">{$prev}</span>
                            -
                            <span class="cursor-pointer next-slide">{$next}</span>
                        </span>
                        <span class="pull-right hide-info cursor-pointer">{$close}</span>
                    </p>
                    <p>{$performer['about']}</p>
                    <p>{$performer['phone']} {$performer['name']}</p>

                    <section class="slideshow">
                        <ul>
                            {foreach $performer['images'] as $image}
                                <li>
                                    <figure>
                                        <img src="{$image}" alt=""/>
                                    </figure>
                                </li>
                            {/foreach}
                        </ul>
                        <nav>
                            <span class="glyphicon glyphicon-chevron-left nav-prev"></span>
                            <span class="glyphicon glyphicon-chevron-right nav-next"></span>
                            <span class="glyphicon glyphicon-remove nav-close"></span>
                        </nav>
                    </section>
                </div>
            </div>
        </div>
    {/foreach}
</div>
